*{
	margin:0;
	padding:0;
	text-decoration:none;
}

.pageBank{
	overflow:auto;
	height:1500px;
	background-color:transparent;
	position:relative;
}

/* ******************************************************************* And the navigation ends here *************************************************** */
#logo{
	width:40px;
	height:20px;
	margin-left:20px;
	margin-top:10px;
	margin-right:20px;
}
.menuAndSearch{
	width:100%;
	background-color:black;
	overflow:auto;
}

.menuAndSearch ul{
	margin:0px;
	padding:0px;
	list-style:none;
	line-height:60px;
}

.menuAndSearch li{
	float:left;
}

.menuAndSearch ul li a{
	background:black;
	text-decoration:none;
	width:130px;
	display:block;
	text-align:center;
	color:#f2f2f2;
	font-size:17px;
	font-family:sans-serif;
	letter-spacing:0.5px;
}

.menuAndSearch li a:hover{
	color:#3a3a3a;
	opacity:0.5px;
	font-size:18px;
}

.dropdown{
	float:left;
	overflow: hidden;
}

.dropdown .dropbtn {
    font-size: 17px;
    border: none;
    outline: none;
    color: white;
    padding: 20px 30px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}

.menuAndSearch a:hover, .dropdown:hover .dropbtn {
    background-color: #626262;
	opacity:0.5px;
	font-size:19px;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color:#6c6c6c;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: center;
}

.dropdown-content a:hover {
    background-color: #6c6c6c;
}

.dropdown:hover .dropdown-content {
   display: block;  /* This is the line that brings out the contents of the dropdown. */
}

#emptyForm{
	width:30px;
	float:left;
	color:black; /*This color must take the color of the background */
}

#searchForm{
	margin-top:15px;
	float:left;
}

#searchBox{
	width:400px;
}

input[type="text"]{
	padding:7px;
	border:none;
	font-size:16px;
	font-family:sans-serif;
}

#btnSearch{
	float:right;
	background:orange;
	color:white;
	border-radius:0px 5px 5px 0px;
	cursor:pointer;
	position:relative;
	padding:7px;
	font-family:sans-serif;font-size:16px;
	border:none;
}
/* ******************************************************************* And the navigation ends here *************************************************** */

/* ************************** Here starts the images slide *******************************************************************************/
.EducationImage{
	width:100%;
	height:550px;
	position:absolute;
}

.button{
	position:absolute;
	width:30px;
	height:30px;
	border:none;
	border-radius:25px;
	top:250px;
	background-color:black;
	color:white;
	font-size:18px;
}

#button2{
	position:relative;
	float:right;

}
#button1{
	position:relative;
	float:left;
}

#button1:hover{
	box-shadow:10px 0px 20px 0px black;
}
#button2:hover{
	box-shadow:-10px 0px 20px 0px black;
}

/* ************************** Here ended the images slide *******************************************************************************/
.HomeArticle{
	width:80%;
	height:700px;
	float:left;
	font-family:fontawesome;
	font-size:18px;
}

.HomeArticleLeft{
	width:47%;
	padding:30px 20px;
	float:left;
}

#waec{
	/* background-color:blue; */
}
#neco{
	/* background-color:green; */
}

.HomeArticleRight{
	width:47%;
	padding:30px 10px;
	float:left;
}

#jamb{
	/* background-color:#E5E5E5; */
}

#gce{
	/* background-color:#CD69C9; */
}

.HomeAside{
	width:19%;
	height:700px;
	float:left;
	padding:30px 0px;
	text-decoration:none;
	font-family:fontawesome;
	font-size:18px;
}

.homeFooter{
	/* border:1px red solid; */
	width:100%;
	height:100px;
	text-align:left;
	padding:50px 10px 5px 10px;
	font-size:18px;
	font-family:fontawesome;
}

.facebook{
	float:left;
	 /* border:1px red solid; */
	width:30px;
	height:30px;
	padding:50px 20px 5px 520px;
	font-size:20px;
	font-family:fontawesome;
}

.instagram{
	float:left;
	 /* border:1px red solid; */
	width:30px;
	height:30px;
	padding:50px 20px 5px 20px;
	font-size:20px;
	font-family:fontawesome;
}

.twitter{
	float:left;
	 /* border:1px red solid; */
	width:30px;
	height:30px;
	padding:50px 20px 5px 20px;
	font-size:20px;
	font-family:fontawesome;
}

.skype{
	float:left;
	 /* border:1px red solid; */
	width:30px;
	height:30px;
	padding:50px 0px 5px 20px;
	font-size:20px;
	font-family:fontawesome;
}

.linkedIn{
	float:left;
	 /* border:1px red solid; */
	width:30px;
	height:30px;
	padding:50px 0px 5px 20px;
	font-size:20px;
	font-family:fontawesome;
}

.copyright{
	clear:both;
	/* border:1px red solid; */
	width:100%;
	height:20px;
	padding:20px 300px 5px 10px;
	font-size:20px;
	font-family:fontawesome;
	text-align:center;
}
