body{
  margin: 0px;
  padding: 0px;
}

section{
  background: url(../../imgTesting/dark.jpg);
  background-size: cover;
  width: 100%;
  height: 650px;
  position: relative;
  overflow: hidden;
}
.snow1{
  background: url(../../imgTesting/snowDark5.jpg);
  background-repeat: repeat;
  width: 100%;
  height: 650px;
  position: absolute;
  top: 0px;
  left: 0px;
  animation: animationOne 10s infinity linear;
}
@keyframes animationOne {
  0%
  {
    background-position: 0px 0px;
  }
  100%
  {
      background-position: 100px 650px;
  }
}
