body{
  margin: 0px;
  padding: 0px;
  background: #262626;
}

ul{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 0px;
  padding: 0px;
  display: flex;
}

ul li{
  list-style: none;
  color: #484848;
  font-size: 5em;
  font-family: "arial black";
  letter-spacing: 15px;
  animation: drop 3.3s linear infinite;
}

@keyframes drop {
  0%
  {
    color: #484848;
    text-shadow: none;
  }
  60%
  {
    color: #ff3399;
    text-shadow: none;
  }
  80%
  {
    color: #9fff80;
    text-shadow: none;
  }
  100%
  {
    color: #fff900;
    text-shadow: 0px 0px 7px #fff900, 0px 0px 50px #ff6c00;
  }
}

ul li:nth-child(1){
  animation-delay: 0.3s;
}
ul li:nth-child(2){
  animation-delay: 0.8s;
}
ul li:nth-child(3){
  animation-delay: 1.3s;
}
ul li:nth-child(4){
  animation-delay: 1.8s;
}
ul li:nth-child(5){
  animation-delay: 2.3s;
}
ul li:nth-child(6){
  animation-delay: 2.8s;
}
ul li:nth-child(7){
  animation-delay: 3.3s;
}
